.typography_variant_largeTitle1 {
  font-size: 64px;
  line-height: 70px;
}

.typography_variant_largeTitle2 {
  font-size: 36px;
  line-height: 42px;
}

.typography_variant_largeTitle3 {
  font-size: 24px;
  line-height: 28px;
}

.typography_variant_title1 {
  font-size: 32px;
  line-height: 38px;
}

.typography_variant_title2 {
  font-size: 24px;
  line-height: 28px;
}

.typography_variant_largeHeadline {
  font-size: 20px;
  line-height: 24px;
}

.typography_variant_headline {
  font-size: 16px;
  line-height: 18px;
}

.typography_variant_text {
  font-size: 15px;
  line-height: 18px;
}

.typography_variant_subhead {
  font-size: 14px;
  line-height: 16px;
}
