.typography_variant_largeTitle1 {
  font-size: clamp(32px, calc(64 / 1000 * 100vw), 64px);
  line-height: 1em;
}

.typography_variant_largeTitle2 {
  font-size: clamp(24px, calc(36 / 1000 * 100vw), 36px);
  line-height: 1.2em;
}

.typography_variant_largeTitle3 {
  font-size: clamp(18px, calc(24 / 1000 * 100vw), 24px);
  line-height: 1.2em;
}

.typography_variant_title1 {
  font-size: 32px;
  line-height: 38px;
}

.typography_variant_title2 {
  font-size: 24px;
  line-height: 28px;
}

.typography_variant_largeHeadline {
  font-size: clamp(16px, calc(20 / 1000 * 100vw), 20px);
  line-height: 1.2em;
}

.typography_variant_headline {
  font-size: 16px;
  line-height: 18px;
}

.typography_variant_text {
  font-size: 15px;
  line-height: 18px;
}

.typography_variant_subhead {
  font-size: 14px;
  line-height: 16px;
}
