.dialog {
  border: none;
  width: 100%;
  max-width: var(--width-container-s);
  background: none;
  margin: auto;
  padding: 10px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-background--100);
  overflow: auto;
}

.header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
}
