.backdrop {
  position: fixed;
  inset: 0;
  padding: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-contrast-100-a25);
  z-index: 100;
}

.wrapper {
  width: 100%;
  max-width: var(--width-container-s);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-background--100);
  overflow: auto;
}

.header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
}
