.outerWrapper {
  display: grid;
  gap: 4px;
}

.outerWrapper_variant_filled {
  &.outerWrapper_isError .inputWrapper:not(:focus-within) {
    background-color: var(--color-red--800);
    box-shadow: 0 0 0 1px var(--color-red--700);
  }
  .inputWrapper {
    background-color: var(--color-grey--100);
    box-shadow: 0 0 0 1px var(--color-grey--200);
  }
}
.outerWrapper_variant_unfilled {
  .inputWrapper {
    background-color: transparent;
    box-shadow: none;
  }
}

.outerWrapper_isError {
  .label {
    color: var(--color-red--200);
  }
  .inputWrapper:focus-within {
    box-shadow: 0 0 0 2px var(--color-red--500),
      0 0 0 4px var(--color-red--500-a15);
  }
}

.inputWrapper {
  width: 100%;
  display: flex;
  position: relative;
  border-radius: 5px;
  .input:not(:placeholder-shown) ~ .label,
  .textareaWrapper_hasValue ~ .label,
  .preview ~ .label,
  &:focus-within .label {
    top: 8px;
    transform: none;
    font-size: 12px;
    font-weight: 600;
  }
  &:focus-within {
    background-color: var(--color-background--100);
    box-shadow: 0 0 0 2px var(--color-blue--500),
      0 0 0 4px var(--color-blue--500-a15);
  }
}

.preview,
.growingBlock,
.textarea,
.input {
  width: 0;
  flex: 1;
  min-height: var(--height-input-m);
  background-color: inherit;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 200ms ease;
  padding: 22px 15px 8px;
  border-radius: inherit;
  &::placeholder {
    color: transparent;
  }
}

.textarea,
.growingBlock {
  width: 100%;
  grid-area: 1 / 1 / 2 / 2;
}

select.input {
  appearance: none;
}

.textarea {
  resize: none;
  overflow: hidden;
}

.preview,
.growingBlock {
  white-space: pre-wrap;
  font-size: inherit;
  font-family: inherit;
}

.preview {
  cursor: text;
}

.growingBlock {
  visibility: hidden;
}

.textareaWrapper {
  flex: 1;
  display: grid;
}

.label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 18px;
  color: var(--color-text--700);
  font-weight: 500;
  transition: 200ms ease;
  pointer-events: none;
  user-select: none;
}

.errorMessage {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-red--200);
  margin-left: 5px;
}
