.wrapper {
  position: relative;
  display: grid;
}

.optionList {
  position: absolute;
  list-style: none;
  padding: 3px;
  border-radius: 3px;
  width: 100%;
  max-height: 300px;
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 18px 0px,
    rgba(0, 0, 0, 0.025) 0px 2px 8px 0px, rgba(0, 0, 0, 0.02) 0px 0.8px 3px 0px,
    rgba(0, 0, 0, 0.01) 0px 0.175px 1px 0px;
  background-color: var(--color-background--100);
  overflow: auto;
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-grey--300);
    border-radius: 20px;
  }
}

.optionList_direction_up {
  bottom: 100%;
  transform: translateY(-5px);
}
.optionList_direction_down {
  top: 100%;
  transform: translateY(5px);
}
.optionList_direction_up,
.optionList_direction_down {
  &.optionList_alignment_start {
    left: 0;
  }
  &.optionList_alignment_end {
    right: 0;
  }
}
.optionList_direction_left {
  right: 100%;
  transform: translateX(-5px);
}
.optionList_direction_right {
  left: 100%;
  transform: translateX(5px);
}
.optionList_direction_left,
.optionList_direction_right {
  &.optionList_alignment_start {
    top: 0;
  }
  &.optionList_alignment_end {
    bottom: 0;
  }
}

.option {
  border-radius: 3px;
  border: none;
  background: transparent;
  text-align: start;
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: var(--color-grey--100);
  }
}

.option_size_s {
  padding: 5px 8px;
}
.option_size_m {
  padding: 8px 10px;
}
.option_size_l {
  padding: 10px 15px;
}
