@import '../assets/fonts/Gilroy/stylesheet.css';

:root {
  /* Color styles */
  --color-text--100: hsl(0deg 0% 0%);
  --color-text--200: hsl(0deg 0% 20%);
  --color-text--300: hsl(0deg 0% 30%);
  --color-text--400: hsl(0deg 0% 40%);
  --color-text--600: hsl(0deg 0% 60%);
  --color-text--700: hsl(0deg 0% 70%);
  --color-text--800: hsl(0deg 0% 80%);

  --color-grey--100: hsl(0deg 0% 97%);
  --color-grey--200: hsl(0deg 0% 94%);
  --color-grey--300: hsl(0deg 0% 90%);

  --color-background--100: hsl(0deg 0% 100%);

  --color-contrast-100: hsl(0deg 0% 0%);
  --color-contrast-100-a25: hsl(0deg 0% 0% / 25%);

  --color-blue--200: hsl(210deg 55% 40%);
  --color-blue--400: hsl(210deg 80% 55%);
  --color-blue--500: hsl(210deg 85% 60%);
  --color-blue--500-a15: hsl(210deg 85% 60% / 15%);
  --color-blue--800: hsl(210deg 90% 95%);

  --color-red--200: hsl(0 45% 50%);
  --color-red--500: hsl(0 65% 70%);
  --color-red--500-a15: hsl(0 66% 70% / 15%);
  --color-red--700: hsl(0 100% 95%);
  --color-red--800: hsl(0 100% 98%);

  /* Text-size styles */
  --fz-title-1-bold: 32px;

  --fz-title-2-medium: 24px;
  --fz-title-2-semi-bold: 24px;

  --fz-headline-medium: 16px;
  --fz-headline-semi-bold: 16px;

  --fz-text-regular: 15px;
  --fz-text-medium: 15px;

  --fz-subhead-medium: 14px;

  --fz-large-title-1-bold: 64px;

  --fz-large-title-2-bold: 36px;
  --fz-large-title-2-semi-bold: 36px;

  --fz-large-title-3-semi-bold: 24px;

  --fz-large-headline-medium: 20px;

  /* Size styles */
  --height-button-s: 28px;
  --height-button-m: 34px;
  --height-button-l: 48px;

  --height-input-m: 48px;

  --height-header: 60px;

  --height-footer: 70px;

  --width-container-m: 1200px;
  --width-container-s: 600px;
  --width-container-xs: 400px;

  /* Effect styles */
  --window-shade: hsl(0deg 0% 0% / 4%) 0px 35px 90px 0px,
    hsl(0deg 0% 0% / 3%) 0px 20px 50px 0px,
    hsl(0deg 0% 0% / 2.5%) 0px 15px 30px 0px,
    hsl(0deg 0% 0% / 2%) 0px 5px 15px 0px,
    hsl(0deg 0% 0% / 1.5%) 0px 5px 10px 0px,
    hsl(0deg 0% 0% / 1%) 0px 0px 5px 0px;
}

.dark {
  color-scheme: dark;

  /* Color styles */
  --color-text--100: hsl(0deg 0% 100%);
  --color-text--200: hsl(0deg 0% 92%);
  --color-text--300: hsl(0deg 0% 84%);
  --color-text--400: hsl(0deg 0% 76%);
  --color-text--500: hsl(0deg 0% 68%);
  --color-text--600: hsl(0deg 0% 60%);
  --color-text--700: hsl(0deg 0% 52%);
  --color-text--800: hsl(0deg 0% 44%);

  --color-grey--100: hsl(0deg 0% 13%);
  --color-grey--200: hsl(0deg 0% 15%);
  --color-grey--300: hsl(0deg 0% 20%);

  --color-background--100: hsl(0deg 0% 10%);

  --color-contrast-100: hsl(0deg 0% 100%);
  --color-contrast-100-a25: hsl(0deg 0% 100% / 10%);

  --color-blue--200: hsl(210deg 55% 60%);
  --color-blue--400: hsl(210deg 80% 80%);
  --color-blue--500: hsl(210deg 85% 70%);
  --color-blue--500-a15: hsl(210deg 85% 40% / 20%);
  --color-blue--800: hsl(210deg 10% 15%);

  --color-red--200: hsl(0 60% 60%);
  --color-red--500: hsl(0 40% 40%);
  --color-red--500-a15: hsl(0 40% 40% / 20%);
  --color-red--700: hsl(0 10% 20%);
  --color-red--800: hsl(0 10% 15%);

  --window-shade: hsl(0deg 0% 100% / 5%) 0 15px 50px 2px;

  .invertible {
    filter: invert(1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-size: 15px;
  background-color: var(--color-background--100);
  color: var(--color-text--100);
  cursor: default;
  word-break: break-word;
  -webkit-tap-highlight-color: transparent;
}

a,
textarea,
input,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color-blue--400);
}

::selection {
  background-color: var(--color-blue--200);
  color: var(--color-background--100);
}
